<StackLayout class="form">
    <StackLayout class="input-field">
        <Label text="First Name" class="label" textWrap="true"></Label>
        <TextField hint="Chuck" class="input" [(ngModel)]='fName' ></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <Label text="Last Name" class="label" textWrap="true"></Label>
        <TextField hint="Norris" class="input" [(ngModel)]="lName"></TextField>
    </StackLayout>
    <Button text="New Joke!" class="btn btn-primary" (tap)="submit()"></Button>
    
</StackLayout>